name: Synthwave Docker Build

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/pranavverma-droid/synthwave:${{ github.event.release.tag_name }}
            ${{ github.event.release.prerelease == false && 'ghcr.io/pranavverma-droid/synthwave:latest' || '' }}

      - name: Generate Container Attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: ghcr.io/pranavverma-droid/synthwave
          subject-digest: ${{ steps.build.outputs.digest }}
